    
    html,
    body {
     min-width:400px;
     width: 100%;
     height:100%;
     margin:0;
     padding:0;
    }

    body{
      font-size: 14px;
      background: #fff;
      margin: 0%;
      padding: 0%;
      height:100%;
      overflow:hidden;
      -moz-osx-font-smoothing:grayscale;
      color:rgba(0,0,0,0.87);
      font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
      -moz-text-size-adjust:100%;
      -moz-text-size-adjust:100%;
      text-size-adjust:100%
    }

    form{
      padding: 20px;
      max-height:160px
    }  

    ul {
      list-style: none;
    }

    a {
      display: inline-block;
      text-decoration: none;
      color:black;
      vertical-align: middle;
      line-height: 24px;
    }

    .full-page{
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    a.link:hover {
      text-decoration: underline;
    }

    div.main-image{ 
      display: flex;
      align-items: center;
      flex-direction:column;
      margin-top: 10%;
      min-height:100px;
      max-height:290px;
      
    }

    div.main-head {
      display: flex;
      justify-content: flex-end;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 10;
      border:none;
      height:60px
    }

    .form-search-box{
      align-items: center;
      flex-direction:column;
      width: auto;
      max-width: 584px;
      position: relative;
      margin: 0 auto;
      padding-top: 20px;
      flex: 1;
      padding: 5px 8px 0 16px;
      padding-left: 14px;
      background: #fff;
      border: 1px solid #dfe1e5;
      box-shadow: none;
      border-radius: 24px;
      z-index: 3;
      height: 44px;
      margin: 0 auto;

    }
    
    .form-search-box:hover{
      background-color: #fff;
      box-shadow: 0 1px 6px rgba(32,33,36,.28);
      border-color: rgba(223,225,229,0);
    }
    
    .input-area{
      padding-top: 7px;
      font-family: arial,sans-serif;
      background-color: transparent;
      outline: none;
      font-size: 20px;
      color: black;
      text-align: justify;
      resize: none;
      border-radius: 24px;
      flex: 100%;
      white-space: pre;
      height: 34px;
      overflow: hidden;
      border: none;

    }

    .mail-img-login-form {
      display: flex;
      margin-right: 20px;
    }
   
    .mail-img-login-form a {
      display: block;
      font-size: 15px;
    }
    
    .link{
      padding: 0;
      margin-right: 20px;
      cursor:pointer;
    }
    
    .google-apps{
      color: #5f6368;
      cursor: pointer;
      padding: 0;
      margin-right: 20px;
    }

    .google-apps:hover{
       opacity: 1;
       background-color: rgba(60,64,67,0.08);
       border-radius: 50%;
       outline: none;
       box-sizing: border-box;
       padding: 5px;
    }

    .login{
      color: #5f6368;
      cursor: pointer;
      padding: 0;
      margin-right: 20px;
    }
    
    .img-search{
      padding-bottom: 10px;
    }

    .btn-form{
      height: 70px;
      padding-top: 18px;
      top: 53px;
      z-index: 0;
    }

    .g-search{
      background-color: #f8f9fa;
      border: 1px solid #f8f9fa;
      border-radius: 4px;
      color: #3c4043;
      font-family: arial,sans-serif;
      font-size: 14px;
      margin: 11px 4px;
      padding: 0 16px;
      line-height: 27px;
      height: 36px;
      min-width: 54px;
      text-align: center;
      cursor: pointer;
      user-select: none;
    }

    .g-search:hover{
      box-shadow: 0 1px 1px rgba(0,0,0,.1);
      background-color: #f8f9fa;
      border: 1px solid #dadce0;
      color: #202124;
    }

    .feeling-lucky{
      background-color: #f8f9fa;
      border: 1px solid #f8f9fa;
      border-radius: 4px;
      color: #3c4043;
      font-family: arial,sans-serif;
      font-size: 14px;
      margin: 11px 4px;
      padding: 0 16px;
      line-height: 27px;
      height: 36px;
      min-width: 54px;
      text-align: center;
      cursor: pointer;
      user-select: none;
    }

    .feeling-lucky:hover{
      box-shadow: 0 1px 1px rgba(0,0,0,.1);
      background-color: #f8f9fa;
      border: 1px solid #dadce0;
      color: #202124;
    }

    .languageADD-form{
      font-size: small;
      margin-bottom: 24px;
      text-align: center;
    }

    #language-selection{
      display: inline-block;
      line-height: 28px;
    }
    
    #language-selection a{
      color: #1a0dab;
      padding: 0 3px;
    }
    
    #language-selection a:hover{
      text-decoration: underline;
    }
    
    .footer-form{
      background: #f2f2f2;
      flex-shrink: 0;
      box-sizing: border-box;
    }

    .footer-country{  
      padding: 15px 30px;
      border-bottom: 1px solid #dadce0;
      font-size: 15px;
      color: rgba(0,0,0,.54);
    }

    .footer-l1{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 20px;
      color: #70757a;
    }

    .footer-left{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .footer-right{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .footer-desc{
      display: block;
      padding: 15px;
      white-space: nowrap;
    }

    a:hover, a:active {
      text-decoration: underline;
    }

    a.footer-desc {
    color: #70757a;
    }

    .space-adj{
      flex-grow: 1;
    }

    .main-class{
      flex-shrink: 0;
      box-sizing: border-box;
    }

    .main-head{
        min-width: auto;
        height: 48px;
        color: black;
        position: relative;
        -moz-transition: box-shadow 250ms;
        transition: box-shadow 250ms;
    }
  